<!DOCTYPE html>
<html ng-app="tellUs">
<head>	
<link rel="stylesheet" href="/bower/bootstrap-css/css/bootstrap.css"></link>
<link rel="stylesheet" type="text/css" href="/css/index.css">
    <title>Tellus about your meal</title>
</head>
<body ng-controller="itemsController as itemCtrl" ng-class="{ dialogIsOpen: itemCtrl.incoming }">
<div id="page-wrap">
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <form ng-submit="itemCtrl.previewPost()">
                  <input type="text" ng-model="itemCtrl.title" placeholder="Title" required></input>
                    <input type="text" ng-model="itemCtrl.description" placeholder="Description" required></input>
                  <button type="submit" class="btn btn-primary" ng-model="checkModel">Post</button>
                </form>
            </div> 
        </div>
    </nav>

    <div class="container">
    	<div ng-repeat="item in itemCtrl.items | orderBy:'-date'" class="col-md-4 posts">
            <img class="img" ng-src="{{ item.imgurl || 'https://media.giphy.com/media/zc1JNCgBXCa88/giphy.gif' }}"/>
    		<div class="postInfo">
    			<button ng-click="itemCtrl.update(item, 1)" class="btn btn-info" ng-class="{ item._id }">Upvote</button>
                <label class="rating">{{item.yum}}</label>
                <button ng-click="itemCtrl.update(item, -1)" class="btn btn-info" ng-class="{{ item._id }}">Downvote</button>
                <h3>{{item.name}}</h3>
                {{item.description}}
    		</div>
    	</div>
    </div>
</div>

<div id="modal">
    <h3>Do you want to post this?</h3>
    <img ng-src="{{ itemCtrl.newItem.imgurl }}">
    <h3> {{ itemCtrl.newItem.name }} </h3>
    <p> {{ itemCtrl.newItem.description }} </p>
    <button ng-click="itemCtrl.addPost()" class="btn btn-info">Yes</button>
    <button ng-click="itemCtrl.resetNewItem()" class="btn btn-info">No</button>
</div>

    <script src="/bower/angular/angular.js"></script> 
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/bower/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower/angular-cookies/angular-cookies.js"><</script>
    
    <!--<script type="text/javascript" src="/js/controllers/itemsController.js"></script>-->
</body>
</html>