<!DOCTYPE html>
<html ng-app="tellUs">
<head>	
<link rel="stylesheet" href="/bower/bootstrap-css/css/bootstrap.css"></link>
    <title>Tellus about your meal</title>
</head>
<body ng-controller="itemsController as itemCtrl">
<div class="container">
	<div ng-repeat="item in itemCtrl.items" class="col-md-4">
		<h3>{{item.name}}</h3>
		<div>
			{{item.description}}
			<button class="btn btn-info">{{item.yum}}</button>
		</div>
	</div>
</div>
    <div>
        <form ng-submit="itemCtrl.addPost()">
            <input type="text" ng-model="itemCtrl.title" placeholder="Title" required></input>
            <input type="text" ng-model="itemCtrl.description" placeholder="Description" required></input>
            <button type="submit" class="btn btn-primary" ng-model="checkModel">Post</button>
        </form>
    </div> 




    <script src="/bower/angular/angular.js"></script> 
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/bower/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    
    <!--<script type="text/javascript" src="/js/controllers/itemsController.js"></script>-->
</body>
</html>